#slider {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.slider-reel {  
  display: flex;
  align-items: stretch;
  transition: transform 0.75s
}
.slider-item {
  background-size: cover;
  background-position: center center;
  flex: 0 0 100%;
  padding-top: 56.2%; /* 16:9 */
}

@media (min-width: 768px) {  
  .slider-item {
    flex: 0 0 50%;
    padding-top: 28.1%; /* 16:9 / 2 */
  }
}

@media (min-width: 1280px) {  
  .slider-item {
    flex: 0 0 33.33%;
    padding-top: 18.8% /* 16:9 / 3 */
  }
}

.slider-btn {
  width: 2rem;
  height: 2rem;
  border: #ddd solid 1px;
  background: #eee;
  border-radius: 50%;
}

.slider-btn-prev::before {
  content: "<"
}

.slider-btn-next::before {
  content: ">"
}